<!-- {% load static %} -->
<!-- Footer -->
<footer class="py-2 text-white fixed-bottom text-center" style="background-color:rgb(13, 110, 253); font-size: 20px;">
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fa-solid fa-phone"></i> (852)1468-1468
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope"></i> f4@f4fc.com.hk
        </div>
        <div class="col-md-4">
          <div class="social text-center">
            <a href="https://x.com/">
              <i class="fa-brands fa-x-twitter fa-lg socialmediahover"></i>
            </a>
            <a href="https://www.facebook.com/?locale=zh_HK">
              <i class="far fa-brands fa-square-facebook fa-lg socialmediahover"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fa-brands fa-instagram fa-lg socialmediahover"></i>
            </a>
            <a href="https://www.linkedin.com/">
              <i class="fa-brands fa-linkedin fa-lg socialmediahover"></i>
            </a>
          </div>
        </div>
      </div>
  </div>
</footer>