#header {
    height: 50px;
    background: rgb(10,110,253);
    color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color: rgb(10,110,253);
}

div.breadcrumbs {
    background: #30caa0;
    color: #2c4262;
}

div.breadcrumbs a {
    color: #333;
}
.module h2,
.module caption,
.inlinegroup h2 {
    background: #30caa0;
}

.button,
input[type="button"],
input[type="submit"],
.submitrow input,
a.button {
    background: rgb(10,110,253);
    color: #fff;
}