{% extends "admin/base.html" %}
{% load static %}
{% block branding %}
<h1 id="head">
    <img src="{% static 'img/f4icon.ico' %}"
    alt="f4icon"
    class="brand_img"
    width="120" 
    height="90">
     F4 Admin Area
</h1>
<!--h1 id="site-name"><a href="{% url 'admin:index' %}
    ">Django Administration</a></h1-->
{% endblock  %}
{% comment %} {% block nav-global %}{{ block.super }}{% endblock %} {% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock  %}