<!-- shopping Cart -->
{% extends "base.html" %} {% load static %} {% load humanize %} 
{% block Content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active">Charts</li>
            </ol>
        </nav>
    </div>
</section>
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active">About</li>
        </ol>
      </nav>
    </div>
</section>

<section id="charts" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        <!--div class="sticky toggle-nav float-center" id="toggle-nav" aria-label="Toggle navigation" aria-expanded="farlse"-->
            <h3>Comming second stage function :</h3>
            <ol>
                <li><h4>data chart for HS index</h4></li>
                <li><h4>data chart for interest stock</h4></li>
                <li><h4>others........</h4></li>
            </ol>
        </div>
      </div>
    </div>
</section>


{% endblock %}